@model UserCardModel

<div class="card" style="width: 18em; height:35em">
       <img src="data:image/png;base64, @Model.ImageUrl" class="card-img-top"
       style="object-fit:cover" height="60%"  alt="@Model.Username s picture">
  <div class="card-body d-flex flex-column align-items-start gap-2">
      <section style="height:100%">
          <h5 class="card-title">@Model.Username</h5>
          <p class="card-text">@Model.Bio</p>
          <p class="card-text">@String.Join(", ",Model.Interests)</p>
      </section>
        @if (Model.IsActiveFriendship)
        {
            <section class="d-flex gap-2">
                 <a asp-action="LoadConversation" asp-controller="Message" asp-route-id="@Model.UserId" class="btn btn-primary align-self-center">Message</a>
                 <a asp-action="Create" asp-controller="Offer" asp-route-id="@Model.UserId" class="btn btn-primary align-self-center">Create offfer</a>
            </section>
        }
        else if (Model.IsPendingFriendship)
        {
             <section class="d-flex gap-2">
                 <a asp-action="Accept" asp-controller="Friendship" asp-route-id="@Model.UserId" class="btn btn-outline-success align-self-center">Accept</a>
                 <a asp-action="Reject" asp-controller="Friendship" asp-route-id="@Model.UserId" class="btn btn-outline-danger align-self-center">Reject</a>
            </section>
        }
        else
        {
            <a asp-action="SendFriendShipRequest" asp-controller="Friendship" asp-route-id="@Model.UserId" class="btn btn-primary align-self-center">Send request!</a>           
        }
  </div>
</div>
