@model UserProfileModel
<section class="d-flex gap-4 mt-3">
    <aside>
      <div style="width: 20rem;">
           <img src="data:image/png;base64, @Model.ImageUrl" class="card-img-top" alt="...">
           <div class="mt-3">
                <h4 class="card-title">Username: @Model.Username</h4>
                <p class="card-text">Bio: @Model.Bio</p>
           </div>
             <div class="d-flex mt-3 gap-2 align-items-start">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#bioModal">Change profile picture</button>
                  <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#bioModal">Change Bio</button>
           </div>
           <partial name="_SetUpBioPartial" model="@(new UserBioModel(){Bio=Model.Bio})"/>
      </div>
    </aside>
    <section>
        <partial name="_InterestChangerPartial" model="@Model.Interests" />
    </section>
</section>
