@model UserFriendshipModelList

    @if (Model.TotalFriends==0)
    {
         <section class="d-flex flex-column align-items-center mt-5 justify-content-start gap-2">
               <h4>You do not have any friend requests at the moment.</h4>
          </section>
    }
    else
    {
        <h2>Total requests: @Model.TotalFriends</h2>
        <section class="d-flex justify-content-start gap-2">
             @foreach (var userCard in Model.Friends)
             {
               <partial name="_UserCardPartial" model="@userCard" />
             }
        </section>
        <section class="pagination d-flex justify-content-center gap-3">
               <a class="@(Model.CurrentPage==1? "disabled ":string.Empty) page-link btn" 
                  asp-action="Pending" 
                  asp-controller="Friendship"
                  asp-route-pageNumber ="@Model.PrevousPage"
                  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
               </a>
               <a class="@(Model.CurrentPage==Model.TotalPagesCount? "disabled ":string.Empty)page-link btn"
                  asp-action="Pending" 
                  asp-controller="Friendship"
                  asp-route-pageNumber ="@Model.NextPage"
                  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
               </a>
        </section>
    }

