@model OffenderModel

<section class="d-flex gap-3">
   <div class="card" style="width: 18em;">
     <img height="70%" style="object-fit:cover" src="data:image/png;base64, @Model.ImageUrl" class="card-img-top" alt="@Model.Username photo">
     <div class="card-body">
       <h5 class="card-title">@Model.Username</h5>
       <p class="card-text">Reported: @Model.ReportedOffers.Count times</p>
     </div>
     @if (Model.ReportedOffers.Count>=3)
     {
         <a class="btn btn-danger align-self-center mb-4" asp-action="Disable" asp-route-id="@Model.Id" asp-controller="Offender">Disable profile</a>
     }       
    </div>
    <section>
        <h4 class="mb-4">Reported offers:</h4>
      <div class="d-flex gap-3 flex-wrap justify-content-center">
           @foreach (var reportedOffer in Model.ReportedOffers)
           {
                <partial name="_ReportedOfferPreviewPartial" model="@reportedOffer"/>
           }
      </div>
    </section>
</section>
