@model OfferIndexModel

<form class="d-flex gap-3 mt-5 align-items-center" method="get">
      <section>
         <select asp-for="@Model.Status" class="form-select" aria-label="Default select example">
             <option value="1">Pending</option>
             <option value="2">Cancelled</option>
             <option selected  value="3">Accepted</option>
         </select>
    </section>
    <section class="flex-grow-1">
        <input asp-for="@Model.SearchString" type="text" class="form-control" id="searchText" placeholder="Search by offer title and description">
    </section>
     <section>
         <select asp-for="@Model.IsOfferReceiver" class="form-select" aria-label="Default select example">
             <option selected value="1">Received offers</option>
             <option value="2">Sended offers</option>
             <option value="3">Both</option>
         </select>
    </section>
     <section>
         <select asp-for="@Model.OfferTimeType" class="form-select" aria-label="Default select example">
             <option value="1">Offers before @DateTime.Now.ToString("dd/MM/yyyy")</option>
             <option selected value="2">Offers after @DateTime.Now.ToString("dd/MM/yyyy")</option>
         </select>
    </section>
    <section>
        <input class="btn btn-primary" type="submit" asp-action="Index" asp-controller="Offer" value="Search..." />
    </section>
</form>

@if(Model.Offers.Count!=0){

}else{
    <h2 class="text-center mt-5">There are no offers...</h2>
}

